@use "../../../assets/styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

#header {
  display: flex;
  background-color: variables.$color-principal;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.h1 {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: 700;
  //margin-bottom: 30px;
}

.logout-button {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(variables.$color-principal, 10%);
  }
}
