<div id="header">
  <h1 class="h1">{{ headerService.titulo }}</h1>

  <button
    class="logout-button"
    id="logout-button"
    [routerLink]="['']"
    (click)="logout()"
  >
    Logout
  </button>
</div>

<!--<div id="headerP">
  <header>
    <div class="logo-container">
      <img class="logo" src="" alt="" />
    </div>

    <h1 class="h1">{{ headerService.titulo }}</h1>

    <button class="logout-button" id="logout-button" [routerLink]="['']">
      Logout
    </button>
  </header>
</div>-->
