@use "../../../assets/styles/variables.scss";
@use "../../../assets/styles/styles-c.scss";

#page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  margin-top: 10px;
}
#buttons-container {
  display: flex;
  justify-content: space-around; /* Ajusta según sea necesario */
  margin-top: 20px; /* Ajusta según sea necesario */
}

button {
  margin-top: 10px;
  padding: 10px 20px;
}
/*
header {
  margin: auto;
  display: flexbox;
  position: relative;
  text-align: center;
  font-family: cursive;
  font-style: italic;
  font-size: 50px;
  font-weight: 900;

  color: #ffffff;
}
div {
  //position: relative;
}*/
