<div id="page-container">
  <header>
    <div id="buttons-container">
      <button [routerLink]="'/add-edit-contact'">
        <div class="button-content">
          <span>AGREGAR CONTACTO</span>
          <img
            src="./../../../assets/img/add-contact.png"
            alt="Agregar contacto"
          />
        </div>
      </button>
      <button [routerLink]="'/blocked-contact'">
        <div class="button-content">
          <span>LISTA NEGRA</span>
          <img src="./../../../assets/img/person-block.png" alt="Lista negra" />
        </div>
      </button>
    </div>
  </header>
  <!--<main id="container">-->
  <div id="contact-container">
    <app-pop-up
      *ngFor="let contact of contactsData"
      [contacto]="contact"
      (getData)="getData()"
    ></app-pop-up>
  </div>
  <!--</main>-->
</div>
