<div id="page-container">
  <h1>Contactos</h1>
  <div id="buttons-container">
    <button [routerLink]="'/add-edit-contact'">
      <div class="button-content">
        <span>AGREGAR CONTACTO</span>
        <img
          src="./../../../assets/img/add-contact.png"
          alt="Agregar contacto"
        />
      </div>
    </button>

    <button [routerLink]="'/edit-contact'">
      <div class="button-content">
        <span>EDITAR CONTACTO</span>
        <img src="./../../../assets/img/edit-c.png" alt="Editar Contacto" />
      </div>
    </button>

    <button [routerLink]="'/blocked-contact'">
      <div class="button-content">
        <span>LISTA NEGRA</span>
        <img src="./../../../assets/img/person-block.png" alt="Lista negra" />
      </div>
    </button>

    <button [routerLink]="''">
      <div class="button-content">
        <span>SALIR</span>
        <img src="./../../../assets/img/home.png" alt="salir" />
      </div>
    </button>
  </div>
  <main id="container">
    <div id="contact-container">
      <app-contact-card
        *ngFor="let contact of contactsData"
        [contact]="contact"
      ></app-contact-card>
    </div>
  </main>
</div>

<!--<div id="page-container">
  <h1>Contactos</h1>
  <div id="buttons-container">
    <button [routerLink]="'/add-edit-contact'">
      <span>AGREGAR CONTACTO</span>
      <img src="./../../../assets/img/add-contact.png" alt="Agregar contacto" />
    </button>

    <button [routerLink]="'/edit-contact'">
      <span>EDITAR CONTACTO</span>
      <img src="./../../../assets/img/edit-c.png" alt="Editar Contacto" />
    </button>

    <button [routerLink]="'/blocked-contact'">
      <span>LISTA NEGRA</span>
      <img src="./../../../assets/img/person-block.png" alt="Lista negra" />
    </button>

    <button [routerLink]="''">
      <span>SALIR</span>
      <img src="./../../../assets/img/home.png" alt="salir" />
    </button>
  </div>
  <main id="container">
    <div id="contact-container">
      <app-contact-card
        *ngFor="let contact of contactsData"
        [contact]="contact"
      >
      </app-contact-card>
    </div>
  </main>
</div>-->
```
