<div
  id="conteiner"
  [ngClass]="{ backgroundBlocked: contacto.isBlocked }"
  class="contact-card"
>
  <div id="grupo2">
    <p id="name" class="contact-name">{{ contacto.name }}</p>
    <p id="name" class="contact-description">{{ contacto.description }}</p>
    <span id="telephoneNumber" class="contact-phone"
      >{{ contacto.celularNumber }} {{ contacto.telephoneNumber }}</span
    >
    <div class="contact-actions">
      <a
        href="https://wa.me/{{ contacto.celularNumber }}"
        target="_blank"
        id="right"
        title="Wsp"
        class="action-link"
        ><img id="wp" src="./../../../../assets/img/message-circle.png"
      /></a>

      <a
        *ngIf="!contacto.isBlocked"
        (click)="blockContact(contacto.id)"
        id="right"
        title="Bloquear"
        class="action-link"
        ><img id="wp" src="./../../../../assets/img/shield-alert.png" />
      </a>

      <a
        *ngIf="contacto.isBlocked"
        (click)="unblockContact(contacto.id)"
        id="right"
        title="Desbloquear"
        class="action-link"
        ><img id="wp" src="./../../../../assets/img/shield-check.png" />
      </a>
      <a
        (click)="deleteContacto(contacto.id)"
        id="right"
        title="Eliminar"
        class="action-link"
        ><img id="wp" src="./../../../../assets/img/trash.png" />
      </a>
      <a
        (click)="navigateToEditContact(contacto.id)"
        id="right"
        title="Editar"
        class="action-link"
        ><img id="wp" src="./../../../../assets/img/pencil.png" />
      </a>
    </div>
  </div>
</div>
