<div class="container">
  <div class="card">
    <div class="form-container">
      <h1>---LogIn---</h1>
      <form (ngSubmit)="login(form)" #form="ngForm">
        <div class="form-group">
          <label for="user" class="">UserName:</label>
          <input
            type="text"
            id="user"
            name="user"
            placeholder="Usuario"
            autocomplete="username"
            required
            [(ngModel)]="authData.userName"
            #userName="ngModel"
          />
          <p class="error" [class.show]="userName.invalid && userName.touched">
            Campo requerido
          </p>
          <span class="barra"></span>
        </div>
        <div class="form-group">
          <label for="password" class="">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Contraseña"
            required
            [(ngModel)]="authData.password"
            [required]="true"
            [minlength]="8"
            #password="ngModel"
          />
          <p class="error" [class.show]="password.invalid && password.touched">
            La contraseña tiene que tener un mínimo de 8 caracteres
          </p>
        </div>
        <div class="button-container">
          <button
            type="submit"
            class="login-btn"
            [routerLink]="['/contact']"
            [disabled]="form.invalid"
          >
            Log In
          </button>
          <button class="signin-btn" id="signin" [routerLink]="['/signin']">
            Sign In
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
