<div class="add" id="container">
  <h1>NO SE RENDERIZA NADA</h1>
  <form action="">
    <div>
      <h1>NUEVO CONTACTO</h1>
      <div>
        <input type="text" name="name" id="" required />
        <label for="">Nombre</label>
      </div>
      <div>
        <input type="text" name="description" id="" required />
        <label for="">Descripcion</label>
      </div>
      <div>
        <input type="text" name="celularNumber" id="" required />
        <label for="">Celular</label>
      </div>
      <div>
        <input type="text" name="telephoneNumber" id="" required />
        <label for="">Telefono fijo</label>
      </div>

      <button type="submit">Agregar Contacto</button>
      <button [routerLink]="['/contact']">Cancelar</button>
    </div>
  </form>
</div>
