<div class="add" id="container">
  <form (ngSubmit)="AgregContactos(createForm)" #createForm="ngForm">
    <div>
      <h1>NUEVO CONTACTO</h1>
      <div>
        <label for="">Nombre</label>
        <input
          type="text"
          name="name"
          id=""
          required
          [(ngModel)]="contactsData.name"
          #name="ngModel"
        />
      </div>
      <div>
        <label for="">Descripcion</label>
        <input
          type="text"
          name="description"
          id=""
          required
          [(ngModel)]="contactsData.description"
          #Description="ngModel"
        />
      </div>
      <div>
        <label for="">Celular</label>
        <input
          type="text"
          name="celularNumber"
          id=""
          required
          [(ngModel)]="contactsData.celularNumber"
          #celularNumber="ngModel"
        />
      </div>
      <div>
        <label for="">Telefono fijo</label>
        <input
          type="text"
          name="telephoneNumber"
          id=""
          required
          [(ngModel)]="contactsData.telephoneNumber"
          #telephoneNumber="ngModel"
        />
      </div>

      <button type="submit">Agregar Contacto</button>
      <button [routerLink]="['/contact']">Cancelar</button>
    </div>
  </form>
</div>
