<form>
  <div class="form">
    <h1>Editar Contacto</h1>
    <div class="">
      <label>Nombre</label>
      <input
        value="{{ contact.name }}"
        type="text"
        name="name"
        id="name"
        required
      /><span class="barra"></span>
    </div>
    <div class="grupo">
      <label>Descripcion:</label>
      <input type="text" name="description" id="description" />
      <span class="barra"></span>
    </div>
  </div>
  <div class="">
    <label>Numero de celular:</label>
    <input type="number" name="celularNumber" id="celularNumber" /><span
      class="barra"
    ></span>
  </div>
  <div class="">
    <label>Numero de telefono:</label>
    <input type="number" name="telephoneNumber" id="telephoneNumber" /><span
      class="barra"
    ></span>
  </div>
  <button type="submit">Editar</button>
  <button [routerLink]="['/contact']">Cancelar</button>
</form>
