<div class="signin" id="container">
  <h2 id="registrate">Registrate</h2>
  <form
    #registerForm="ngForm"
    (ngSubmit)="registerForm.form.valid && register(registerForm)"
  >
    <label class="label" for="name" autocomplete="name">Nombre</label>
    <input
      class="input"
      type="text"
      id="name"
      name="name"
      placeholder=""
      required
      [(ngModel)]="user.name"
      #name="ngModel"
    />
    <p class="error">Debes ingresar tu nombre</p>

    <label class="label" for="lastname" autocomplete="lastname">Apellido</label>
    <input
      class="input"
      type="text"
      id="lastname"
      name="lastname"
      placeholder=""
      required
    /><span class="barra"></span>
    <p class="error">Debes ingresar tu apellido</p>

    <label class="label" for="email" autocomplete="email">Email</label>
    <input
      class="input"
      type="email"
      id="email"
      name="email"
      placeholder=""
      required
      [(ngModel)]="user.lastName"
      #lastName="ngModel"
    /><span class="barra"></span>
    <p class="error">VERIFICAR EMAIL</p>

    <label class="label" for="password" autocomplete="password"
      >Contraseña</label
    >
    <input
      class="input"
      type="password"
      id="password"
      name="password"
      placeholder=""
      required
      [(ngModel)]="user.password"
      #password="ngModel"
    /><span class="barra"></span>
    <p>VERIFICAR CONTRASEÑA</p>
    <!--agregar email y username y separar en divs-->

    <button type="submit" class="button" [routerLink]="['/login']">
      Registrarse
    </button>
  </form>
</div>
